@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.forgetpass {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.for-content {
  margin-top: 74px;
}
.wrapper {
  margin: 0;
  padding: 0;
  display: flex !important;
  justify-content: center;
  height: 54px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 0.1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav-content {
  height: 54px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 975px;
  width: 100%;
}
.nav-content > div:nth-child(1) {
  flex-grow: 2;
  min-width: 40px;
}
/* .nav-content div:nth-child(2) {
  flex-grow: 1;
} */
.nav-content > div:nth-child(3) {
  flex-grow: 2;
}
.center-nav {
  height: 28px;
  min-width: 125px;
  width: 215px;
  margin: 0;
  padding: 0;
  position: relative;
}
.for-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.for-content .form-forget {
  max-width: 388px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  width: 100%;
  margin: 60px auto 0;
}
.top {
  margin: 24px 0 16px 0;
}
.coreSpriteLockSmall {
  background: url("https://www.instagram.com/static/bundles/es6/sprite_glyphs_c14ffe44a4f6.png/c14ffe44a4f6.png")
    no-repeat 0 0;
  width: 96px;
  height: 96px;
}
